body {
	border: none;
}

legend {
	font-weight: bold;
}

fieldset {
	margin-bottom: 0.5em;
}

label {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

form label {
	margin-left: 3px;
	margin-right: 1em;
}

input {
	vertical-align: text-top;
}

select, input[type="text"], input[type="number"], input[type="file"] {
	margin-left: 7px;
}

input[type="checkbox"] {
	margin-left: 0px;
}

div label {
	min-width: 100%;
	max-width: 100%;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

form {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.centered {
	text-align: center;
}